<h2>Foto albums</h2>

<ul class="albums">
<% for album in @albums %>
	<li>
		<a href="/gallery/<%= album.id %>">
			<div><img src="/image/<%= album_photo album.id %>/large" alt="<%= album.name %>"></div>
			<p><%= album.name %></p>
		</a>
	</li>
<% end %>
</ul>