<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Dropboxr - A DropBox Gallery</title>
	
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
	<link rel="stylesheet" href="/css/style.css">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="/js/base.js"></script>

	<!--<script src="/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>-->
	<!--<link rel="stylesheet" href="/js/fancybox/jquery.fancybox-1.3.1.css" />-->
</head>
<body>
	<div id="wrapper">
		<header>Dropboxr - A Dropbox Gallery</header>
		
		<div id="main">
			<%= yield %>
		</div>
	</div>
	
	<footer><a href="http://wellconsidered.be">Pieter Michels</a> - <a href="http://github.com/pierot/dropboxr/">Source code on GitHub</a> - Build on <a href="http://heroku.com">Heroku</a> using <a href="http://www.ruby-lang.org/en/">Ruby</a>, <a href="http://www.sinatrarb.com">Sinatra</a>, <a href="http://ar.rubyonrails.org/">ActiveRecord</a>, <a href="https://www.dropbox.com/developers">DropBox API</a> and <a href="http://memcached.org">Memcached</a> - Not affiliated nor endorsed by <a href="http://www.dropbox.com">Dropbox</a></footer>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-341208-24']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>