@media only screen and (device-width: 768px) { /* For general iPad layouts */
  h2 {
    font-size: 30px;
    margin-bottom: 10px;
	}

  footer {
		margin-top: 40px;
		position: static;
	}
}

@media only screen and (max-device-width: 480px) { /* For general iPhone layouts */
  body {
    -webkit-text-size-adjust: none;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
	}

  #wrapper {
    margin: 10px 0px 0px 10px;
  }

  ul.albums li {
    margin: 0px 10px 10px;
  }

  ul.gallery li {
    margin: 0px 10px 10px 0px;
  }

  footer {
		margin-top: 40px;
		position: static;
	}  
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}
