@base_color: lightblue;

@font-face {
	font-family: 'SpeakOffcRegular';
	src: url('speakoffc-webfont.eot');
	src: local('☺'), url('speakoffc-webfont.woff') format('woff'), url('speakoffc-webfont.ttf') format('truetype'), url('speakoffc-webfont.svg#webfont5MOdO5r7') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'SpeakOffcRegular', sans-serif;
	font-size-adjust: 0.45;
	font-size: 13px;
}

a {
	border-bottom: 1px solid @base_color;
	color: @base_color;
	text-decoration: none;
}

#wrapper {
	margin: 20px 0px 0px 20px;
	width: 980px;
}

h2 {
	color: @base_color;
	font-size: 24px;
	margin-bottom: 20px;
}

ul.gallery {
	li {
		float: left;
		margin: 0px 20px 20px 0px;
		
		a {
			border: none;
		}
	}
}