@base_color: #3366ee;
@light_color: #5588ff;

.shadow (@radius: 5px){
  -moz-box-shadow: @radius @radius @radius #f3f3f3;
  -webkit-box-shadow: @radius @radius @radius #f3f3f3;
  box-shadow: @radius @radius @radius #f3f3f3;
}

.square_size (@size: 100px) {
	height: @size;
	width: @size;
}

@font-face {
	font-family: 'SpeakOffcRegular';
	src: url('speakoffc-webfont.eot');
	src: local('☺'), url('speakoffc-webfont.woff') format('woff'), url('speakoffc-webfont.ttf') format('truetype'), url('speakoffc-webfont.svg#webfont5MOdO5r7') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'SpeakOffcRegular', sans-serif;
	font-size-adjust: 0.45;
	font-size: 14px;
}

a {
	border-bottom: 1px solid @light_color;
	color: @base_color;
	text-decoration: none;
}

#wrapper {
	margin: 20px 0px 0px 20px;
	width: 980px;
}

h2 {
	color: @base_color;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

ul.albums {
	li {
		font-size: 16px;
		margin-bottom: 10px;
	}
}

ul.gallery {
	li {
		float: left;
		margin: 0px 20px 20px 0px;
		
		.shadow;
		.square_size(72px);
		
		a {
			border: none;
			display: block;
			
			.square_size(72px);
		}
	}
}