!!!
%html
  %head
    %title Noort Fotos

    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "viewport", :content => "initial-scale = 1.0"}

    %link{:rel => 'shortcut icon', :href => '/favico.png'}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body

    .container-fluid
      = yield
